{% extends 'ordering/base.html' %}

{% block title %} ESPA Console {% endblock %}
{% block header %} Console: Display Order {% endblock %}

{% block style %}

.messages {
   color: red;
   list-style-type: none;
}

div.boxbody {
    margin:0 auto;
    width:750px;
    border:none;
}

div.boxbody table {
    width:750px;
    padding:10px;
}

div.boxbody table td {
    padding:5px 10px;
}

tr {
    line-height:1.6em;
}

tr.evenrow {
    background-color:#DEDEDE;
}

tr.evenrow td {
    background-color:#DEDEDE;
}

.label {
    font-weight: bold;
    width: 100px;
}

#buttonbar {
    padding: 3px;
}

{% endblock %}

{% block nav %}{% include 'ordering/bulk_ordering_nav.html' %}{% endblock %}

{% block content %}

<div class="wrapper">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <br />
    {% endif %}

<h4>Order: {{ order.id }}</h4>

<form action='' method='post'>
    {% csrf_token %}
    <table>
    {{ form }}
    </table>

<div id="buttonbar">
    <input id="submit" name="submit" type="submit" value="Update Order"></input>
    <input id="restart-scenes" type="button" value="Restart Failed Products"></input>
</div>
</form>

{% if products %}
<div class='boxbody'>
<table class='noborder'>
<thead>
<tr>
    <th>Name</th>
    <th>Sensor Type</th>
    <th>Status</th>
    <th>TRAM Id</th>
    <th>Job Name</th>
</tr>
</thead>
<tbody>
{% for scene in products %}
    <tr class="{% cycle 'oddrow' 'evenrow' %}">
        <td class='noborder'><a href="{% url 'display_product' order.id scene.name %}">{{ scene.name }}</a></td>
        <td class='noborder'>{{ scene.sensor_type }}</td>
        <td class='noborder'>{{ scene.get_status_display }}</td>
        <td class='noborder'>{{ scene.tram_order_id }}</td>
        <td class='noborder'>{{ scene.job_name }}</td>
    </tr>
{% endfor %}
</tbody> 
</table>
</div>
{% else %}
<h4>No orders found for {{ order.id }}</h4>
{% endif %}

</div>

{% endblock %}

{% block scripts %}
    $(document).ready(function() {
        $('#restart-scenes').click(function() {
            if (confirm("Reset all products for this order?")) {
                $.getJSON('{% url 'restart_failed_by_order' order_in=order.id %}', function(data) {
                    if (data.result == 'success') {
                        location.reload();
                    } else {
                        alert('Update failed: ' + data.message);
                    }
                });
            }
        });
    });
{% endblock %}
