{% extends 'ordering/base.html' %}

{% block title %} ESPA Console {% endblock %}
{% block header %} Console: Index {% endblock %}

{% block style %}

div.boxbody {
    margin:0 auto;
    width:750px;
    border:none;
}

div.boxbody table {
    width:750px;
    padding:10px;
}

div.boxbody table td {
    padding:5px 10px;
}

tr {
    line-height:1.6em;
}

tr.evenrow {
    background-color:#DEDEDE;
}

tr.evenrow td{
    background-color:#DEDEDE;
}

{% endblock %}

{% block nav %}{% include 'ordering/bulk_ordering_nav.html' %}{% endblock %}

{% block content %}

<div class="wrapper">


{% if scenes %}
<h4>Orders for status: {{ status_in }}</h4>

<div class='boxbody'>
<table class='noborder'>
<thead>
<tr>
    <th>Name</th>
    <th>Status</th>
    <th>Order</th>
    <th>TRAM Id</th>
    <th>Job Name</th>
</tr>
</thead>
<tbody>
{% for scene in scenes %}
    <tr class="{% cycle 'oddrow' 'evenrow' %}">
        <td class='noborder'>{{ scene.name }}</td>
        <td class='noborder'>{{ scene.get_status_display }}</td>
        <td class='noborder'>{{ scene.order.orderid }}</td>
        <td class='noborder'>{{ scene.tram_order_id }}</td>
        <td class='noborder'>{{ scene.job_name }}</td>
    </tr>
{% endfor %}
</tbody>  
</table>
</div>
{% else %}
<h4>No orders found for {{ status_in }} status</h4>
{% endif %}

</div>

{% endblock %}
